$font-default: 'Nanum', serif;
$font-mada: 'Mada', sans-serif;

// Colors
$black: #000;
$white: #fff;
$bunker: #11151A;
$bunker-light: rgba(#11151A, 0.5);
$silver: #C4C4C4;
$cream: #fbf6ee;
$tacao: #EFB884;
$blue-charcoal: #000308;
$mondo: #493D31;
$river-bed:#1a1e25;
$background-grey : rgba(254, 249, 241, 0.2);
$old-lace: #FEF9F1;